<display-name>Spring3 MVC Application</display-name>
	<servlet>
		<servlet-name>spring-web</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-web</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>

	<error-page>
		<location>/WEB-INF/views/jsp/error.jsp</location>
	</error-page>

##########################################
<web-app>
  
<servlet>
    <servlet-name>recruiter</servlet-name>
    <servlet-class>Recruiter</servlet-class>
    <init-param>
      <param-name>Email</param-name>
      <param-value>forRecruiter@xyz.com</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>recruiter</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>applicant</servlet-name>
    <servlet-class>Applicant</servlet-class>
    <init-param>
      <param-name>Email</param-name>
      <param-value>forApplicant@xyz.com</param-value>
    </init-param>
  </servlet>
	String username=config.getInitParameter("Email"); // forApplicant@xyz.com
  
  <servlet-mapping>
    <servlet-name>applicant</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>Website-name</param-name>
    <param-value>NewWebsite.tg</param-value>
  </context-param>
  
</web-app>
#################################################################################### 

<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>focusgeofence</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoadOnStartAppConfiguration</servlet-name>
    <servlet-class>utility.LoadOnStartAppConfiguration</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>insertsensor</servlet-name>
    <jsp-file>/insertsensor.jsp</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>insertsensor</servlet-name>
    <url-pattern>/insertsensor</url-pattern>
</servlet-mapping>
  
<servlet>
    <servlet-name>page</servlet-name>
    <jsp-file>/page.html</jsp-file>
</servlet>
<servlet-mapping>
    <servlet-name>page</servlet-name>
    <url-pattern>/app/page</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>wsRoom1</servlet-name>
    <servlet-class>websocket.chat.ChatWebSocketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsRoom1</servlet-name>
    <url-pattern>/room1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wsRoom2</servlet-name>
    <servlet-class>websocket.chat.ChatWebSocketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsRoom2</servlet-name>
    <url-pattern>/room2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chat</servlet-name>
    <servlet-class>websocket.chat.WsChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chat</servlet-name>
    <url-pattern>/chat</url-pattern>
  </servlet-mapping>
</web-app>
